<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>BlackPointCompensation</key>
		<false/>
		<key>ColorSyncProfile</key>
		<data>
		/NskxbGHHMlfztQliIke8w==
		</data>
		<key>DestinationDPI</key>
		<integer>720</integer>
		<key>DestinationPhysicalHeight</key>
		<real>4</real>
		<key>DestinationPhysicalHeightInCentimeters</key>
		<real>10</real>
		<key>DestinationPhysicalWidth</key>
		<real>6</real>
		<key>DestinationPhysicalWidthInCentimeters</key>
		<real>15</real>
		<key>DestinationPixelHeight</key>
		<integer>768</integer>
		<key>DestinationPixelWidth</key>
		<integer>1024</integer>
		<key>ExportSizeStyle</key>
		<integer>2</integer>
		<key>FileSizeLimitInKilobytes</key>
		<integer>500</integer>
		<key>GammaAdjustment</key>
		<real>1</real>
		<key>GenerateXMLManifest</key>
		<false/>
		<key>ImageFormat</key>
		<integer>0</integer>
		<key>ImageQualityType</key>
		<integer>0</integer>
		<key>ImageQualityValue</key>
		<integer>10</integer>
		<key>IncludeMetadata</key>
		<true/>
		<key>Name</key>
		<string>JPEG - Original Size</string>
		<key>PercentToSizeBy</key>
		<real>100</real>
		<key>ScaleWatermark</key>
		<false/>
		<key>SharpenAdjustment</key>
		<real>0.0</real>
		<key>ShowWatermark</key>
		<false/>
		<key>WatermarkOpacity</key>
		<real>0.5</real>
		<key>WatermarkPosition</key>
		<integer>1</integer>
		<key>WatermarkType</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
