<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>climbedDate</key>
		<date>1950-06-03T00:00:00Z</date>
		<key>height</key>
		<integer>8091</integer>
		<key>name</key>
		<string>安納布爾納峰</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1953-05-29T06:00:00Z</date>
		<key>height</key>
		<integer>8848</integer>
		<key>name</key>
		<string>珠穆朗瑪峰</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1913-06-07T06:00:00Z</date>
		<key>height</key>
		<integer>6138</integer>
		<key>name</key>
		<string>麥金利山</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1954-07-31T00:00:00Z</date>
		<key>height</key>
		<integer>8611</integer>
		<key>name</key>
		<string>喬戈里峰</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>2001-06-21T00:00:00Z</date>
		<key>height</key>
		<integer>495</integer>
		<key>name</key>
		<string>獅子山</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1980-06-21T00:00:00Z</date>
		<key>height</key>
		<integer>957</integer>
		<key>name</key>
		<string>大帽山</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>1533</integer>
		<key>name</key>
		<string>泰山</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>1533</integer>
		<key>name</key>
		<string>華山</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>2017</integer>
		<key>name</key>
		<string>恆山</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>1997</integer>
		<key>name</key>
		<string>衡山</string>
	</dict>
	<dict>
		<key>height</key>
		<integer>1494</integer>
		<key>name</key>
		<string>嵩山</string>
	</dict>
</array>
</plist>
