<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://idisk.mac.com/cmayn-Public/Antarctica.jpg</string>
	<string>http://idisk.mac.com/cmayn-Public/Earth.jpg</string>
	<string>http://idisk.mac.com/cmayn-Public/EtaCarinae.jpg</string>
	<string>http://idisk.mac.com/cmayn-Public/Jupiter.jpg</string>
	<string>http://idisk.mac.com/cmayn-Public/Mercury.png</string>
	<string>http://idisk.mac.com/cmayn-Public/Rhea.jpg</string>
</array>
</plist>
