<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
		<dict>
			<key>name</key>
			<string>kDesktopIcon</string>
			<key>icon</key>
			<string>desk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kFinderIcon</string>
			<key>icon</key>
			<string>FNDR</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kComputerIcon</string>
			<key>icon</key>
			<string>root</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kFullTrashIcon</string>
			<key>icon</key>
			<string>ftrh</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericApplicationIcon</string>
			<key>icon</key>
			<string>APPL</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericCDROMIcon</string>
			<key>icon</key>
			<string>cddr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericFileServerIcon</string>
			<key>icon</key>
			<string>srvr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericFontIcon</string>
			<key>icon</key>
			<string>ffil</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericFloppyIcon</string>
			<key>icon</key>
			<string>flpy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericHardDiskIcon</string>
			<key>icon</key>
			<string>hdsk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericIDiskIcon</string>
			<key>icon</key>
			<string>idsk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericRemovableMediaIcon</string>
			<key>icon</key>
			<string>rmov</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericURLIcon</string>
			<key>icon</key>
			<string>gurl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kTrashIcon</string>
			<key>icon</key>
			<string>trsh</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kTrueTypeFontIcon</string>
			<key>icon</key>
			<string>tfil</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kTrueTypeMultiFlatFontIcon</string>
			<key>icon</key>
			<string>ttcf</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kUserIDiskIcon</string>
			<key>icon</key>
			<string>udsk</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationHTTPIcon</string>
			<key>icon</key>
			<string>ilht</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationFTPIcon</string>
			<key>icon</key>
			<string>ilft</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationAppleShareIcon</string>
			<key>icon</key>
			<string>ilaf</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationFileIcon</string>
			<key>icon</key>
			<string>ilfi</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationMailIcon</string>
			<key>icon</key>
			<string>ilma</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationNewsIcon</string>
			<key>icon</key>
			<string>ilnw</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kInternetLocationGenericIcon</string>
			<key>icon</key>
			<string>ilge</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kGenericFolderIcon</string>
			<key>icon</key>
			<string>fldr</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kDropFolderIcon</string>
			<key>icon</key>
			<string>dbox</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kAlertNoteIcon</string>
			<key>icon</key>
			<string>note</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kAlertCautionIcon</string>
			<key>icon</key>
			<string>caut</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kAlertStopIcon</string>
			<key>icon</key>
			<string>stop</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kToolbarCustomizeIcon</string>
			<key>icon</key>
			<string>tcus</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kToolbarDeleteIcon</string>
			<key>icon</key>
			<string>tdel</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kToolbarFavoritesIcon</string>
			<key>icon</key>
			<string>tfav</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kToolbarHomeIcon</string>
			<key>icon</key>
			<string>thom</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kBackwardArrowIcon</string>
			<key>icon</key>
			<string>baro</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kForwardArrowIcon</string>
			<key>icon</key>
			<string>faro</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kBurningIcon</string>
			<key>icon</key>
			<string>burn</string>
		</dict>
		<dict>
			<key>name</key>
			<string>kQuestionMarkIcon</string>
			<key>icon</key>
			<string>ques</string>
		</dict>		
		<dict>
			<key>name</key>
			<string>kEjectMediaIcon</string>
			<key>icon</key>
			<string>ejec</string>
		</dict>
</array>
</plist>
