<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>climbedDate</key>
		<date>1950-06-03T00:00:00Z</date>
		<key>height</key>
		<integer>8091</integer>
		<key>name</key>
		<string>Аннапурна</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1953-05-29T06:00:00Z</date>
		<key>height</key>
		<integer>8848</integer>
		<key>name</key>
		<string>Джомолунгма</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1913-06-07T06:00:00Z</date>
		<key>height</key>
		<integer>6138</integer>
		<key>name</key>
		<string>Мак-Кинли</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1954-07-31T00:00:00Z</date>
		<key>height</key>
		<integer>8611</integer>
		<key>name</key>
		<string>К2 (Чого́ри)</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1829-07-22T00:00:00Z</date>
		<key>height</key>
		<integer>4741</integer>
		<key>name</key>
		<string>Эльбрус</string>
	</dict>
</array>
</plist>
