<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>Name</key>
	<string>Buster</string>
	<key>ExpressionIdentifierIdle</key>
	<array>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle1.tif</string>
			<key>FrameDuration</key>
			<real>10.0</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle3.tif</string>
			<key>FrameDuration</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle1.tif</string>
			<key>FrameDuration</key>
			<real>6.0</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle3.tif</string>
			<key>FrameDuration</key>
			<real>0.1</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle1.tif</string>
			<key>FrameDuration</key>
			<real>10.0</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle2.tif</string>
			<key>FrameDuration</key>
			<real>2.0</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle3.tif</string>
			<key>FrameDuration</key>
			<real>0.3</real>
		</dict>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterIdle4.tif</string>
			<key>FrameDuration</key>
			<real>1.0</real>
		</dict>
	</array>
	<key>ExpressionIdentifierConsonant</key>
	<array>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterClosed.tif</string>
			<key>FrameDuration</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>ExpressionIdentifierVowel</key>
	<array>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterOpen.tif</string>
			<key>FrameDuration</key>
			<real>0.0</real>
		</dict>
	</array>
	<key>ExpressionIdentifierSleep</key>
	<array>
		<dict>
			<key>FrameImageFileName</key>
			<string>BusterSleep.tif</string>
			<key>FrameDuration</key>
			<real>0.0</real>
		</dict>
	</array>
</dict>
</plist>
