<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HPDBookTitle</key>
	<string>Alert Help</string>
	<key>HPDBookType</key>
	<string>3</string>
	<key>HPDBookAccessPath</key>
	<string>index.html</string>
	<key>HPDBookRemoteURL</key>
	<string></string>
	<key>HPDBookExactMatchPath</key>
	<string></string>
	<key>HPDBookIndexPath</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.AppKit.NSAlertTest.help</string>
	<key>CFBundleName</key>
	<string>Alert Help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en-US</string>
</dict>
</plist>
