<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>SampleEffectCocoaUI</string>
	<key>CFBundleGetInfoString</key>
	<string>Acme Inc: SampleEffectUnit Cocoa UI</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.acme.audiounit.sampleeffectui</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SampleEffectUnit Cocoa UI</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>SampleEffect Cocoa UI</string>
	<key>CFBundleSignature</key>
	<string>ACse</string>
	<key>CFBundleVersion</key>
	<string>0.9</string>
	<key>NSMainNibFile</key>
	<string>SampleEffectUI</string>
	<key>NSPrincipalClass</key>
	<string>SampleEffectCocoaUI</string>
</dict>
</plist>
