<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>climbedDate</key>
		<date>1950-06-03T00:00:00Z</date>
		<key>height</key>
		<integer>8091</integer>
		<key>name</key>
		<string>Annapurna</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1953-05-29T06:00:00Z</date>
		<key>height</key>
		<integer>8848</integer>
		<key>name</key>
		<string>Mont Everest</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1913-06-07T06:00:00Z</date>
		<key>height</key>
		<integer>6138</integer>
		<key>name</key>
		<string>Mont McKinley</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1954-07-31T00:00:00Z</date>
		<key>height</key>
		<integer>8611</integer>
		<key>name</key>
		<string>K2</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1865-07-14T00:00:00Z</date>
		<key>height</key>
		<integer>3376</integer>
		<key>name</key>
		<string>le Cervin</string>
	</dict>
	<dict>
		<key>climbedDate</key>
		<date>1786-08-08T00:00:00Z</date>
		<key>height</key>
		<integer>4695</integer>
		<key>name</key>
		<string>Mont Blanc</string>
	</dict>
</array>
</plist>
