<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>device info version</key>
	<string>3.0</string>
	<key>devices</key>
	<dict>
		<key>Virtual Scanner EX/AF</key>
		<dict>
			<key>iconFile</key>
			<string>/System/Library/Image Capture/Support/Icons/GenericScanner.icns</string>
			<key>ButtonTypes</key>
			<dict>
				<key>scan</key>
				<dict>
					<key>application</key>
					<string>/Applications/Image Capture.app</string>
					<key>label</key>
					<string>Scan</string>
				</dict>
			</dict>
			<key>functionalUnitDescriptions</key>
			<array>
				<dict>
					<key>type</key>
					<integer>0</integer>
				</dict>
				<dict>
					<key>type</key>
					<integer>3</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
