<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Scanner Name</key>
	<string>Virtual Scanner EX/AF</string>
	<key>Scanner Properties</key>
	<dict>
		<key>functionalUnitProperties</key>
		<array>
			<dict>
				<key>unitNumber</key>
				<integer>0</integer>
				<key>unitProperties</key>
				<dict>
					<key>templateMeasurementUnit</key>
					<integer>0</integer>
					<key>supportsProgressNotificationsWithScanData</key>
					<integer>1</integer>
					<key>templates</key>
					<array>
						<dict>
							<key>internalName</key>
							<string>Template_1</string>
							<key>humanReadableName</key>
							<string>Sample Template One</string>
							<key>tooltip</key>
							<string>This is a sample template with two targets</string>
							<key>numberOfTargets</key>
							<integer>2</integer>
							<key>targets</key>
							<array>
								<dict>
									<key>height</key>
									<integer>3</integer>
									<key>offsetX</key>
									<integer>1</integer>
									<key>offsetY</key>
									<integer>1</integer>
									<key>width</key>
									<integer>5</integer>
								</dict>
								<dict>
									<key>height</key>
									<integer>3</integer>
									<key>offsetX</key>
									<integer>1</integer>
									<key>offsetY</key>
									<integer>5</integer>
									<key>width</key>
									<integer>5</integer>
								</dict>
							</array>
						</dict>
						<dict>
							<key>internalName</key>
							<string>Template_2</string>
							<key>humanReadableName</key>
							<string>Sample Template Two</string>
							<key>tooltip</key>
							<string>This is a sample template with one target</string>
							<key>numberOfTargets</key>
							<integer>1</integer>
							<key>targets</key>
							<array>
								<dict>
									<key>height</key>
									<integer>6</integer>
									<key>offsetX</key>
									<integer>2</integer>
									<key>offsetY</key>
									<real>2.5</real>
									<key>width</key>
									<integer>4</integer>
								</dict>
							</array>
						</dict>
					</array>
					<key>vendor features</key>
					<array>
						<dict>
							<key>current</key>
							<integer>0</integer>
							<key>default</key>
							<integer>0</integer>
							<key>feature</key>
							<string>VF_Invert</string>
							<key>label</key>
							<string>Invert Seletion</string>
							<key>type</key>
							<string>TWON_ENUMERATION</string>
							<key>value</key>
							<array>
								<integer>0</integer>
								<integer>1</integer>
							</array>
						</dict>
					</array>
					<key>CAP_AUTOFEED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>CAP_DUPLEX</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>2</integer>
					</dict>
					<key>CAP_DUPLEXENABLED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>CAP_FEEDERENABLED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>ICAP_BITDEPTH</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>1</integer>
							<integer>8</integer>
						</array>
					</dict>
					<key>ICAP_PHYSICALHEIGHT</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>112265</integer>
					</dict>
					<key>ICAP_PHYSICALWIDTH</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>81664</integer>
					</dict>
					<key>ICAP_THRESHOLD</key>
					<dict>
						<key>current</key>
						<integer>127</integer>
						<key>default</key>
						<integer>127</integer>
						<key>max</key>
						<integer>255</integer>
						<key>min</key>
						<integer>0</integer>
						<key>stepSize</key>
						<integer>1</integer>
						<key>type</key>
						<string>TWON_RANGE</string>
					</dict>
					<key>ICAP_UNITS</key>
					<dict>
						<key>current</key>
						<integer>2</integer>
						<key>default</key>
						<integer>0</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>5</integer>
						</array>
					</dict>
					<key>ICAP_XNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>9600</integer>
					</dict>
					<key>ICAP_XRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>300</integer>
							<integer>600</integer>
							<integer>1200</integer>
							<integer>2400</integer>
							<integer>4800</integer>
						</array>
					</dict>
					<key>ICAP_SUPPORTEDSIZES</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
							<integer>4</integer>
							<integer>5</integer>
							<integer>10</integer>
							<integer>0</integer>
						</array>
					</dict>
					<key>ICAP_XSCALING</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>max</key>
						<integer>4</integer>
						<key>min</key>
						<real>0.25</real>
						<key>stepSize</key>
						<real>0.01</real>
						<key>type</key>
						<string>TWON_RANGE</string>
					</dict>
					<key>ICAP_YNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>9600</integer>
					</dict>
					<key>ICAP_YSCALING</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>max</key>
						<integer>4</integer>
						<key>min</key>
						<real>0.25</real>
						<key>stepSize</key>
						<real>0.01</real>
						<key>type</key>
						<string>TWON_RANGE</string>
					</dict>
					<key>ICAP_YRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>300</integer>
							<integer>600</integer>
							<integer>1200</integer>
							<integer>2400</integer>
							<integer>4800</integer>
						</array>
					</dict>
					<key>functionalUnits</key>
					<dict>
						<key>availableFunctionalUnitTypes</key>
						<array>
							<integer>0</integer>
							<integer>3</integer>
						</array>
						<key>selectedFunctionalUnitType</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
			<dict>
				<key>unitNumber</key>
				<integer>3</integer>
				<key>unitProperties</key>
				<dict>
					<key>vendor features</key>
					<array>
						<dict>
							<key>current</key>
							<integer>0</integer>
							<key>default</key>
							<integer>0</integer>
							<key>feature</key>
							<string>VF_Test1</string>
							<key>label</key>
							<string>test vendor feature</string>
							<key>type</key>
							<string>TWON_ENUMERATION</string>
							<key>values</key>
							<array>
								<integer>0</integer>
								<integer>1</integer>
							</array>
						</dict>
					</array>
					<key>supportsProgressNotificationsWithScanData</key>
					<integer>1</integer>
					<key>CAP_AUTOFEED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>1</integer>
					</dict>
					<key>CAP_DUPLEX</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>2</integer>
					</dict>
					<key>CAP_DUPLEXENABLED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>CAP_FEEDERENABLED</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>0</integer>
					</dict>
					<key>ICAP_BITDEPTH</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>1</integer>
							<integer>8</integer>
						</array>
					</dict>
					<key>ICAP_PHYSICALHEIGHT</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>112265</integer>
					</dict>
					<key>ICAP_PHYSICALWIDTH</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>81664</integer>
					</dict>
					<key>ICAP_THRESHOLD</key>
					<dict>
						<key>current</key>
						<integer>127</integer>
						<key>default</key>
						<integer>127</integer>
						<key>max</key>
						<integer>255</integer>
						<key>min</key>
						<integer>0</integer>
						<key>stepSize</key>
						<integer>1</integer>
						<key>type</key>
						<string>TWON_RANGE</string>
					</dict>
					<key>ICAP_UNITS</key>
					<dict>
						<key>current</key>
						<integer>2</integer>
						<key>default</key>
						<integer>0</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>0</integer>
							<integer>1</integer>
							<integer>5</integer>
						</array>
					</dict>
					<key>ICAP_XNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>9600</integer>
					</dict>
					<key>ICAP_XRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>300</integer>
							<integer>600</integer>
							<integer>1200</integer>
							<integer>2400</integer>
							<integer>4800</integer>
						</array>
					</dict>
					<key>ICAP_SUPPORTEDSIZES</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>1</integer>
							<integer>2</integer>
							<integer>3</integer>
							<integer>4</integer>
							<integer>5</integer>
							<integer>10</integer>
							<integer>0</integer>
						</array>
					</dict>
					<key>ICAP_XSCALING</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>max</key>
						<integer>4</integer>
						<key>min</key>
						<real>0.25</real>
						<key>stepSize</key>
						<real>0.01</real>
						<key>type</key>
						<string>TWON_RANGE</string>
					</dict>
					<key>ICAP_YNATIVERESOLUTION</key>
					<dict>
						<key>type</key>
						<string>TWON_ONEVALUE</string>
						<key>value</key>
						<integer>9600</integer>
					</dict>
					<key>ICAP_YSCALING</key>
					<dict>
						<key>current</key>
						<integer>1</integer>
						<key>default</key>
						<integer>1</integer>
						<key>max</key>
						<integer>4</integer>
						<key>min</key>
						<real>0.25</real>
						<key>stepSize</key>
						<real>0.01</real>
						<key>type</key>
						<string>TWON_RANGE</string>
					</dict>
					<key>ICAP_YRESOLUTION</key>
					<dict>
						<key>current</key>
						<integer>3</integer>
						<key>default</key>
						<integer>3</integer>
						<key>type</key>
						<string>TWON_ENUMERATION</string>
						<key>value</key>
						<array>
							<integer>75</integer>
							<integer>100</integer>
							<integer>150</integer>
							<integer>300</integer>
							<integer>600</integer>
							<integer>1200</integer>
							<integer>2400</integer>
							<integer>4800</integer>
						</array>
					</dict>
					<key>functionalUnits</key>
					<dict>
						<key>availableFunctionalUnitTypes</key>
						<array>
							<integer>0</integer>
							<integer>3</integer>
						</array>
						<key>selectedFunctionalUnitType</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
