<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CIPlugInFilterList</key>
	<dict>
		<key>FunHouseMirrorFilter</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryDistortionEffect</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>FunHouseMirrorFilter</string>
			</dict>
			<key>CIFilterClass</key>
			<string>FunHouseMirrorFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
		</dict>
		<key>MyKernelFilter</key>
		<dict>
			<key>CIFilterAttributes</key>
			<dict>
				<key>CIAttributeFilterCategories</key>
				<array>
					<string>CICategoryStylize</string>
					<string>CICategoryVideo</string>
					<string>CICategoryStillImage</string>
				</array>
				<key>CIAttributeFilterDisplayName</key>
				<string>MyKernelFilter</string>
				<key>CIInputs</key>
				<array>
					<dict>
						<key>CIAttributeClass</key>
						<string>CIImage</string>
						<key>CIAttributeDisplayName</key>
						<string>inputImage</string>
						<key>CIAttributeName</key>
						<string>inputImage</string>
					</dict>
					<dict>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>8</real>
						<key>CIAttributeDisplayName</key>
						<string>inputScale</string>
						<key>CIAttributeIdentity</key>
						<real>8</real>
						<key>CIAttributeMin</key>
						<real>1</real>
						<key>CIAttributeName</key>
						<string>inputScale</string>
						<key>CIAttributeSliderMax</key>
						<real>16</real>
						<key>CIAttributeSliderMin</key>
						<real>1</real>
					</dict>
					<dict>
						<key>CIAttributeClass</key>
						<string>NSNumber</string>
						<key>CIAttributeDefault</key>
						<real>1.2</real>
						<key>CIAttributeDisplayName</key>
						<string> inputGreenWeight </string>
						<key>CIAttributeIdentity</key>
						<real>1.2</real>
						<key>CIAttributeMin</key>
						<real>1</real>
						<key>CIAttributeName</key>
						<string>inputGreenWeight</string>
						<key>CIAttributeSliderMax</key>
						<real>3.0</real>
						<key>CIAttributeSliderMin</key>
						<real>1</real>
					</dict>
				</array>
			</dict>
			<key>CIFilterClass</key>
			<string>MyKernelFilter</string>
			<key>CIHasCustomInterface</key>
			<false/>
			<key>CIKernelFile</key>
			<string>MyKernelFilter</string>
		</dict>
	</dict>
	<key>CIPlugInVersion</key>
	<integer>1</integer>
</dict>
</plist>
