<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Image</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
			</array>
			<key>LSMinimumSystemVersion</key>
			<string>10.6</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSDocumentClass</key>
			<string>ImageDoc</string>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
			<key>XXCFBundleTypeExtensions</key>
			<array>
				<string>png</string>
				<string>gif</string>
				<string>jpeg</string>
				<string>jpg</string>
				<string>jp2</string>
				<string>tiff</string>
				<string>tif</string>
				<string>crw</string>
				<string>nef</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ImageApp</string>
	<key>CFBundleGetInfoString</key>
	<string>1.4, Copyright 2005-2012 Apple Inc.</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ImageApp</string>
	<key>CFBundleName</key>
	<string>ImageApp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleSignature</key>
	<string>imag</string>
	<key>CFBundleVersion</key>
	<string>1.4</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2005-2012 Apple Inc.
All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>ImageApp</string>
</dict>
</plist>
