<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<!--
	If your application does not already define a UTI, you may want to declare it
	here, so that your documents are recognized by systems which do not have your
	application installed.

	To export this declaration, fill in the fields with your application's 
	information, and uncomment the block of XML.
	-->
	
    <key>UTExportedTypeDeclarations</key>
    <array>
        <dict>
            <key>UTTypeIdentifier</key>
            <string>com.amiga.interchange-file-format</string>
            <key>UTTypeDescription</key>
            <string>IFF Image File Format</string>
            <key>UTTypeConformsTo</key>
            <array>
                <string>public.image</string>
            </array>
            <key>UTTypeTagSpecification</key>
            <dict>
                <key>com.apple.ostype</key>
                <array>
                    <string>.IFF</string>
                </array>
                <key>public.filename-extension</key>
                <array>
                    <string>iff</string>
                    <string>lbm</string>
                </array>
                <key>public.mime-type</key>
                <array>
                    <string>image/iff</string>
                </array>
            </dict>
        </dict>
    </array>

	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>MDImporter</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.amiga.interchange-file-format</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>iff-importer</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.yourcfbundle</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CFPlugInDynamicRegisterFunction</key>
	<string></string>
	<key>CFPlugInDynamicRegistration</key>
	<string>NO</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>21F9FFBA-96B5-4774-94EF-6880DBEC57DD</key>
		<string>MetadataImporterPluginFactory</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>8B08C4BF-415B-11D8-B3F9-0003936726FC</key>
		<array>
			<string>21F9FFBA-96B5-4774-94EF-6880DBEC57DD</string>
		</array>
	</dict>
	<key>CFPlugInUnloadFunction</key>
	<string></string>
</dict>
</plist>
